/* Space out content a bit */
body {
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Helvetica', 'Helvetica Neue';
    background: #EFEFEF;
}

/* Custom page header */
.header {
    background-color: lightgray;
    border-radius: 2px;
    margin-bottom: 3px;
}

a {
    color: black;
    text-decoration: none;
}

h3 {
    margin: 0
}
h4 {
    font-size: 22px;
    margin: 5px;
}
p {
    font-size: 16px;
}
label {
    font-size: 16px;
    text-align: left;
    width: 30%;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
}
.header .cart-button {
    float: right;
    margin: 8px;
}

/* Custom page footer */
.footer {
    margin-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container {
    padding: 3px;
}

.splash {
    height: 100%;
    width: 100%
}

.green {
    background-color: springgreen;
}

.big-button {
    display: block;
    text-align: center;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
    font-size: 40px;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.big-button h3 {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    top: 32%;
}

.tile-left {
    float: left;
    padding: 2%;
    width: 56%;
    text-align: left;
}
.tile-left .name {
    font-size: 22px;
    margin: 5px;
}
.tile-left .address {
    font-size: 18px;
    margin: 5px;
}

.tile-right {
    float: right;
    padding: 2%;
    width: 36%;
}

.tile-full {
    display: inline-block;
    text-align: left;
    padding: 2%;
    width: 96%;
}
.tile-full form input, .tile-full form textarea {
    width: 66%;
}
.tile-full form input {
    height: 20px;
}
.tile-full form textarea {
    height: 40px;
    margin-top: 20px;
}
.tile-full form label {
    display: inline-block;
    width: 28%;
}
.tile-full p {
    margin: 5px;
}

button {
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}
button.full {
    width: 100%;
}
button.left {
    margin: 2%;
    float: left;
    width: 46%;
}
button.right {
    margin: 2%;
    float: right;
    width: 46%;
}
button.confirm {
    background-color: rgb(5, 180, 5);
}
button.deny {
    //background-color: red;
}

.price {
    font-size: 28px;
    font-weight: bold;
}

.distance {
    font-size: 24px;
    font-weight: bold;
}

.quantity {
    font-size: 24px;
}

