<div ng-controller="CartCtrl">
	<div class="header">
	  <a class="cart-button"><span>Cart</span> <span>$25.98</span></a></li>
	  <h3 class="header-text">Cart</h3>
	</div>

	<div class="big-button gray">
	  <div class="tile-left">
		<span class="name">Cheese Pizza</span>
	  </div>
	  <span class="tile-right">
		<span class="price">$12.99</span>
		<span class="quantity">x2</span>
	  </span>
	  <div class="tile-full">
		<p>This particular pizza is a cheese pizza. It's got sauce, and cheese. And crust! Don't forget the crust!</p>
	  </div>
	  <div class="tile-full">
		<button class="button-advanced">Edit</button>
		<button ng-click="removeFromCart(1)" class="button-remove-from-cart">Remove</button>
	  </div>
	</div>

	<div class="big-button gray">
	  <div class="tile-left">
		<span class="name">Cheese Pizza</span>
	  </div>
	  <span class="tile-right">
		<span class="price">$12.99</span>
		<span class="quantity">x1</span>
	  </span>
	  <div class="tile-full">
		<p>This particular pizza is a cheese pizza. It's got sauce, and cheese. And crust! Don't forget the crust!</p>
	  </div>
	  <div class="tile-full">
		<button class="button-advanced">Edit</button>
		<button ng-click="removeFromCart(1)" class="button-remove-from-cart">Remove</button>
	  </div>
	</div>

	<button ng-click="menu()">Back to Menu</button>
	<button ng-click="checkout()">Checkout</button>

	<div class="footer">
	  <p>Made by Group 3, Inc.</p>
	</div>
</div>
