<div ng-controller="CheckoutCtrl">

  <div class="header">
    <h3 class="header-text">Checkout</h3>
    <a class="cart-button"><span>${{totalPrice}}</span></a>
  </div>

  <div class="content">
    <div class="big-button gray">
      <div class="tile-full">
        <form>
          <label>Option 1</label>
          <input />
          <label>Option 2 </label>
          <input />
          <label>Requests</label>
          <textarea></textarea>
        </form>
      </div>
    </div>

    <div class="big-button gray">
      <div class="tile-full">
        <form>
          <label>CC Number</label>
          <input />
          <label>Security Code</label>
          <input />
          <label>Pickup Time</label>
          <input />
        </form>
      </div>
    </div>

    <button class="full confirm" ng-click="confirm()">Confirm</button>
  </div>

	<div class="footer">
	  <p>Made by Group 3, Inc.</p>
	</div>
  
</div>
