<div ng-controller="CheckoutCtrl">
	<div class="header">
	  <a class="cart-button"><span>Cart</span> <span>$25.98</span></a></li>
	  <h3 class="header-text">Checkout</h3>
	</div>

	<div class="big-button gray">
	  <div class="tile-full">
		<label>Option 1</label>
		<input />
		<label>Option 2 </label>
		<input />
		<label>Requests</label>
		<textarea></textarea>
	  </div>
	</div>

	<div class="big-button gray">
	  <div class="tile-full">
		<label>CC Number</label>
		<input />
		<label>Security Code</label>
		<input />
		<label>Pickup Time</label>
		<input />
	  </div>
	</div>

	<button ng-click="confirm()">Confirm</button>

	<div class="footer">
	  <p>Made by Group 3, Inc.</p>
	</div>
</div>
