<div class="header">
  <h3 class="header-text">Locations</h3>
</div>

<div class="big-button gray">
  <div class="tile-full">
    <img src="../map.png" width="100%" Height="100%">
  </div>
</div>

<a class="big-button" ng-click="menu()">
  <div class="tile-left">
    <span class="address">123 Restaurant Lane</span>
  </div>
  <span class="tile-right">
    <span class="distance">2 mi</span>
  </span>
  <div class="tile-full">
    <br/>
  </div>
</a>

<a class="big-button" ng-click="menu()">
  <div class="tile-left">
    <span class="address">729 Chewbacca Road</span>
  </div>
  <span class="tile-right">
    <span class="distance">5 mi</span>
  </span>
  <div class="tile-full">
    <br/>
  </div>
</a>

<a class="big-button" ng-click="menu()">
  <div class="tile-left">
    <span class="address">456 Han's Roadlo</span>
  </div>
  <span class="tile-right">
    <span class="distance">6 mi</span>
  </span>
  <div class="tile-full">
    <br/>
  </div>
</a>

<a class="big-button" ng-click="menu()">
  <div class="tile-left">
    <span class="address">4968 Warp Speed Way</span>
  </div>
  <span class="tile-right">
    <span class="distance">11 mi</span>
  </span>
  <div class="tile-full">
    <br/>
  </div>
</a>

<div class="footer">
  <p>Made by Group 3, Inc.</p>
</div>
